:root {
    --primary-color: #03A3DF;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans&family=Poppins:wght@100;200;300;400;600;700&family=Public+Sans:wght@300;400&family=Roboto:wght@100;400;500;700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Alegreya", serif;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    position: fixed;
}


/*header*/

nav {
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#2e3233, rgba(0, 0, 0, 0));
    background-size: cover;
    background-position: center;
}

ul.navbar-nav {
    margin-left: auto;
    flex-wrap: wrap;
}

nav img {
    width: 40px;
}

.nav-links {
    flex: 1;
    display: flex;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.25rem;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.navbar-toggler:active {
    border: 0;
}

.navbar-toggler i {
    font-size: 2rem;
    color: white;
}


/******rrow*****/

#logo {
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    color: #3498db;
}

#logo a {
    text-decoration: none;
}

#logo:hover {
    color: #ecf0f1;
}

#logo-s {
    color: #ecf0f1;
    margin-left: 5px;
}

#logo:hover #logo-s {
    color: #3498db;
}

.sign {
    float: right;
    line-height: 60px;
    margin-right: 40px;
}

.sign a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.act {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 6px 15px;
}

.sign a:hover {
    color: #3498db;
    border-color: #3498db;
}

#slider {
    position: relative;
    width: 100%;
    background: #2c3e50;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.myslider {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: none;
    background-color: #000000;
}

.myslider img {
    width: 100%;
    height: auto;
    opacity: 0.65;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    transition: 0.1s;
    user-select: none;
    text-decoration: none;
}

.prev:hover,
.next:hover {
    color: #3498db;
}

.next {
    right: 0;
}

.dotsbox {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid#fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.active,
.dot:hover {
    border-color: #3498db;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.txt {
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
    -webkit-animation-name: posi;
    -webkit-animation-duration: 2s;
    animation-name: posi;
    animation-duration: 2s;
    z-index: 1;
}

@-webkit-keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 15%;
    }
}

@keyframes posi {
    from {
        left: 25%;
    }
    to {
        left: 15%;
    }
}

.txt h1 {
    color: #3498db;
    font-weight: bold;
    margin-bottom: 20px;
}

.txt p {
    font-weight: bold;
    font-size: 20px;
}

#img-slider {
    transform: scale(1.5, 1.5);
    -webkit-animation-name: zoomin;
    -webkit-animation-duration: 40s;
    animation-name: zoomin;
    animation-duration: 40s;
}

@-webkit-keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@keyframes zoomin {
    from {
        transform: scale(1, 1);
    }
    to {
        transform: scale(1.5, 1.5);
    }
}

@media screen and (max-width: 800px) {
    .myslider {
        height: 500px;
    }
    .txt {
        line-height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }
    @-webkit-keyframes posi2 {
        from {
            top: 35%;
        }
        to {
            top: 50%;
        }
    }
    @keyframes posi2 {
        from {
            top: 35%;
        }
        to {
            top: 50%;
        }
    }
    .txt h1 {
        font-size: 40px;
    }
    .txt p {
        font-size: 13px;
    }
}

@media screen and (max-width: 520px) {
    .txt h1 {
        font-size: 30px;
    }
    .sign {
        margin-right: 20px;
    }
    .sign a {
        font-size: 12px;
    }
}


/*testimonial*/

#testimonial {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/bg.jpg);
    width: 100%;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 50vh;
    padding: 0 50px;
    background-size: cover;
    position: relative;
}

.testimonial-row::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.testimonial-row .testimonial-col {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 390px;
    min-width: 290px;
}

.testimonial-col .user {
    border-radius: 5px;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    color: #fff;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.testimonial-col .user .icon {
    font-size: 48px;
    color: #e6e6e6;
}

.testimonial-col .user .counter {
    font-size: 50px;
    color: #f2f2f2;
    font-weight: 500;
}

.testimonial-col .user .text {
    color: #ccc;
    font-weight: 400;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: red;
    cursor: pointer;
    transition: transform 0.5s;
    background-color: rgba(58, 52, 110, 0.466);
}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-img {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info .fa {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.user-info small {
    color: #009688;
}

.testimonial-col:hover {
    transform: translateY(-10px);
}

@media screen and (max-width: 770px) {
    .testimonial-col {
        flex-basis: 100%;
    }
}


/*end  testimonials */


/*facilities*/

.wrapper {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/bg1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

#facilities {
    z-index: 5;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    z-index: 2;
}

.course h1 {
    font-size: 36px;
    font-weight: 600;
    text-align: left;
    display: block;
    border-bottom: 5px solid var(--primary-color);
    width: 85px;
    color: white;
}

.course-col {
    flex-basis: 31%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(8, 2, 17, 0.623));
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 0;
    box-sizing: border-box;
    transition: 0.5s;
    height: 50vh;
    min-width: 430px;
}

.course-img {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.course-img img {
    width: 100%;
}

.course-text {
    margin-top: 30px;
    margin-left: 10px;
    transition: transform 0.5s;
    color: #fff;
}

.course-text p {
    word-wrap: break-word;
}

.course h3 {
    text-align: left;
    font-weight: 600;
    margin: 10px 0;
}

.course-col p {
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.course-col:hover .course-text {
    transform: translateY(-15px);
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
    .course h3 {
        text-align: left;
        font-weight: 300;
        margin: 10px 0;
        font-size: 20px;
    }
}


/*end facilities*/


/*footer*/

#footer {
    padding: 100px 0 20px;
    background: #efefef;
    position: relative;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right {
    text-align: right;
}

.footer-row h1 {
    margin: 10px 0;
}

.footer-row p {
    line-height: 35px;
}

.footer-left .fa,
.footer-right .fa {
    font-size: 20px;
    color: #009688;
    margin: 10px;
}

.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}

.social-links {
    text-align: center;
}

.social-links .fa {
    height: 40px;
    width: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 40px 5px 0;
    color: #009688;
    cursor: pointer;
    transition: 0.5s;
}

.social-links .fa:hover {
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}

.social-links p {
    font-size: 12px;
    margin-top: 20px;
}

@media screen and (max-width: 770px) {
    .footer-left,
    .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img {
        top: 25%;
    }
}


/*end footer*/

#feature {
    width: 100%;
    padding: 70px 0;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    background-color: #3498db;
    background-image: url(images/bg.jpg);
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
}

.feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features {
    flex-basis: 50%;
}

.features-img {
    flex-basis: 50%;
    margin: auto;
}

.features-img img {
    width: 70%;
    border-radius: 10px;
}

.features h1 {
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.feature-icon .fa {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

.feature-text p {
    padding: 0 20px;
    text-align: initial;
}

@media screen and (max-width: 770px) {
    .title-text h1 {
        font-size: 35px;
    }
    .features {
        flex-basis: 100%;
    }
    .features-img {
        flex-basis: 100%;
    }
    .features-img img {
        width: 100%;
    }
}


/*xizmatlar page*/

.sub-header {
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.sub-header h1 {
    margin-top: 50px;
}

.xizmatlar {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 80px;
}

.xizmatlar-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.xizmatlar-col img {
    width: 100%;
}

.xizmatlar-col h1 {
    padding-top: 0;
}

.xizmatlar-col p {
    padding: 15px 0 25px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: #fff;
}


/*CONTACT PAGE*/

.location {
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
}

.contact-col {
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div p {
    padding: 0%;
}

.contact-col div h5 {
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input,
.contact-col textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*SECTION RAHBARIYAT*/

.rahbariyat-width {
    width: 90%;
    margin: auto;
}

.row-blog-post {
    margin-top: 0.7%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.rahbariyat-body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    background-color: red;
    padding: 0 1rem;
    border-color: turquoise;
}

.row-1 {
    margin-top: 10px;
}

.blog-post {
    width: 80%;
    max-width: 98rem;
    padding: 1.1rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    margin-left: 10%;
    border: 1px solid hsl(208, 87%, 54%);
}

.blog-post_img {
    min-width: 15rem;
    max-width: 15rem;
    height: 15rem;
    transform: translateX(-4rem);
    position: relative;
}

.blog-post_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#name {
    display: block;
    color: rgba(0, 0, 0, 0.685);
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 0.5rem 0;
}

#lavozim {
    display: block;
    color: hsl(208, 87%, 54%);
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 0.5rem 0;
    margin-top: -7px;
}

.blog-post_title {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1rem 0 1rem;
    color: rgba(0, 0, 0, 0.685);
    letter-spacing: 1.7px;
}

.blog-post_text {
    margin-bottom: 2rem;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1.7px;
    font-weight: 500;
}

.blog-post_cta {
    display: inline-block;
    padding: 0.4rem 2rem;
    letter-spacing: 2.5px;
    font-size: 1.2rem;
    color: hsl(208, 87%, 54%);
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    border: 1px solid hsl(208, 87%, 54%);
}

.blog-post_cta:hover {
    background-image: linear-gradient( to top, hsla(208, 87%, 54%, 0.151) 0%, #f0f0f000 100%);
}

@media screen and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }
}

@media screen and (max-width: 768px) {
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
    }
    .blog-post_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
}


/**************************************************************************/


/*Single rahbariyat*/

.row-single-rahbariyat {
    margin-top: 0%;
    display: flex;
    justify-content: space-between;
}

.single-rahbariyat-body {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
}

.single-rahbariyat-col-1 {
    flex-basis: 33.3%;
    padding: 20px 2px;
}

.single-rahbariyat-col-2 {
    flex-basis: 66.66%;
    padding: 20px 2px;
}

.single-rahbariyat-col-1 img {
    width: 56%;
}

.single-rahbariyat-col h1 {
    padding-top: 0;
}

.single-rahbariyat-col p {
    padding: 15px 0 25px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.red-btn {
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}

.red-btn:hover {
    color: #fff;
}

.single-rahbariyat-col-2 #customers {
    font-size: 17px;
    border-collapse: collapse;
    width: 100%;
    margin-left: -50px;
    letter-spacing: 2px;
}

#customers td,
#customers th {
    border: 1px solid rgb(255, 255, 255);
    padding: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    font-weight: bold;
}

#customers tr:hover {
    cursor: pointer;
}

.biografiya h1 {
    margin-bottom: 15px;
}

.biografiya h1,
p {
    font-size: 23px;
    letter-spacing: 1.5px;
}

.biografiya p {
    margin-top: 20px;
}


/*KONKURSLAR*/


/*testimonial*/

.tender-card-title-text {
    text-align: center;
    align-items: center;
    top: 0;
}

.tender-card-title-text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.tender-card-title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
}

.tender-card-title-text h1 {
    position: relative;
    z-index: 1;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    display: block;
    color: hsl(208, 81%, 58%);
    width: 30%;
    margin-left: 8%;
}

#tender-card {
    width: 100%;
    padding: 55px 0;
}

.tender-flex {
    width: 100%;
    padding: 35px 0;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.tender-card-row {
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-flow: wrap;
    flex-basis: 67%;
    padding: 30px 2px;
}

.tender-card-row-1 {
    flex-basis: 33%;
}

.tender-card-row-margin {
    margin-left: 12%;
}

.tender-card-row-margin a:link {
    text-decoration: none;
}

.tender-card-col {
    width: 47%;
    margin-right: 30px;
    display: inline-block;
    border-left: 7px solid rgb(52, 221, 52);
    flex-basis: 35%;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #080a0a14;
    cursor: pointer;
    transition: transform 0.5s;
    height: 200px;
}

.tender-card-col p {
    margin-top: 15px;
    font-size: 18px;
}

.tender-card-user {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.tender-card-user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.tender-card-user-img {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.tender-card-user-info {
    margin-left: 5px;
}

.tender-card-col .end-time {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px 0;
}

.end-time img {
    width: 30px;
    margin-right: 15px;
    border-radius: 3px;
}

.user-img {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.end-time-date .fa {
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}

.tender-card-col:hover {
    transform: translateY(-7px);
}

@media screen and (max-width: 500px) {
    .tender-card-col {
        flex-basis: 100%;
        height: auto;
        text-align: center;
    }
    .end-time img {
        margin: auto;
    }
    .tender-card-row {
        flex-basis: 100%;
    }
    .tender-card-col {
        width: 87%;
    }
}

@media screen and (max-width: 1400px) {
    .tender-card-col {
        flex-direction: row;
        width: auto;
    }
    .tender-card-row {
        flex-basis: 100%;
    }
    .tender-card-col {
        width: 87%;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}


/*Category*/

.tender-card-row-category {
    width: 70%;
    margin-left: 7%;
    border: 1px solid grey;
}

.mylist {
    margin: 40px auto;
    border-top: 0px;
    display: flex;
    flex-flow: row wrap;
}

.mylist li {
    list-style: none;
    padding: 4px 10px;
    margin: 2px;
    flex-basis: 10%;
}

.category-list-btn {
    display: inline-block;
    text-decoration: none;
    color: rgb(66, 139, 223);
    border: 1px solid rgb(66, 139, 223);
    padding: 12px 14px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.category-list-btn:hover {
    border: 1px solid #fff;
    background: rgb(66, 139, 223);
    transition: 0.5s;
    color: #fff;
}


/*******************************************/

.content {
    width: 95%;
    margin: 30px auto 30px;
    align-items: center;
    justify-content: center;
}

.content .main-content {
    width: 90%;
    margin: auto;
}

.content .main-content .single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
}

.content .main-content .single h1 {
    margin-left: 5%;
    margin-top: 8%;
    width: 86%;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    font-size: 1.875rem;
}

.content .main-content .single .post-content {
    margin-left: 5%;
    margin-top: 6%;
    width: 90%;
    text-align: justify;
}

.content .main-content .single .post-content p {
    margin-top: 3%;
    font-size: 18px;
}

.content .main-content .single .post-content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    margin-top: 2%;
}


/*tender-single*/

.bg-tender {
    background-image: url(images/background-tender.jpg);
    background-repeat: repeat;
    background-size: 5%;
}

.tender-single {
    background-position: center;
    z-index: 1;
    width: 95%;
    margin: 30px auto 30px;
    align-items: center;
    justify-content: center;
}

.tender-single .tender-main-content {
    width: 90%;
    margin: auto;
}

.tender-single .tender-main-content .single {
    background: white;
    padding: 20px 50px;
    font-size: 1.1em;
    box-shadow: 0 10px 50px 1px #080a0a14;
}

.tender-single .tender-main-content .single h3 {
    color: #03a3df;
    margin-top: 2%;
    margin-bottom: 0.5%;
    width: 86%;
    text-align: left;
    word-wrap: break-word;
    font-size: 1.875rem;
}

.tender-single .tender-main-content .single hr {
    border: 2px solid #03a3df;
    border-radius: 50%;
}

.tender-single-title-description h4 {
    color: #000000;
    margin-top: 2%;
    margin-bottom: 0.5%;
    width: 86%;
    text-align: left;
    word-wrap: break-word;
    font-size: 1.25rem;
}

.tender-single-title-description p {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 2%;
    text-align: left;
    word-wrap: break-word;
    font-size: 1.25rem;
}

.requirements h4 {
    margin-top: 2%;
    color: #03a3df;
}

.requirements .requirement-services {
    margin-top: 2.5%;
}

.lot-instructions {
    margin-top: 2%;
    color: #03a3df;
}

.lot-instructions-card {
    text-align: center;
    margin-top: 3%;
}

.tender-file-width {
    width: 90%;
    margin: auto;
}

.row-tender-file {
    margin-top: 0.7%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

.tender-file {
    width: 50%;
    max-width: 98rem;
    padding: 1.1rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    margin-left: 10%;
    border: 1px solid #03a3df;
    cursor: pointer;
    -webkit-box-shadow: -20px 18px 15px -6px rgba(8, 9, 10, 0.14);
    -moz-box-shadow: -20px 18px 15px -6px rgba(55, 161, 242, 0.14);
    box-shadow: -20px 18px 15px -6px rgba(55, 161, 242, 0.14);
    border-radius: 5px;
}

.tender-file_img {
    min-width: 7rem;
    max-width: 7rem;
    height: 7rem;
    transform: translateX(-4.5rem);
    position: relative;
    background: white;
}

.tender-file_img img {
    width: 100%;
    height: 100%;
    display: block;
}

.tender-file_title {
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem 0 1rem;
    color: rgba(0, 0, 0, 0.685);
    letter-spacing: 1.7px;
}

.tender-file_cta:hover {
    background-image: linear-gradient( to top, hsla(208, 87%, 54%, 0.151) 0%, #f0f0f000 100%);
}

.about-customer-info,
.all-info-about-tender {
    margin-top: 2%;
}

.all-info-about-tender {
    margin-bottom: 5%;
}

@media only screen and (max-width: 1400px) {
    .myslider,
    #slider {
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        background-color: #2d2f2f;
    }
    header {
        position: static;
        top: auto;
        height: auto;
    }
    .prev,
    .next {
        font-size: 35px;
    }
    .txt h1 {
        font-size: 30px;
    }
    #testimonial {
        height: auto;
    }
    .testimonial-row {
        flex-direction: column;
    }
    .testimonial-col {
        padding: 0;
        min-width: auto;
    }
    .testimonial-col .user .counter {
        font-size: 35px;
    }
    .wrapper {
        height: auto;
    }
    .course {
        padding-top: 30px
    }
    .course .row {
        flex-direction: column;
        align-items: center;
    }
    .course-img {
        height: 200px;
    }
    .course-col {
        max-width: 400px;
        height: auto;
        min-width: 0;
    }
    .course-text {
        min-height: 100px;
    }
    .course-text p {
        font-size: 0.85rem;
        word-wrap: break-word;
    }
    .title-text h1 {
        font-size: 3rem;
    }
    #footer {
        padding: 50px 0 20px;
    }
    .biografiya h1,
    p {
        font-size: 18px;
    }
    .title-text {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 868px) {
    .tender-file {
        max-width: 70rem;
    }
    .lot-instructions {
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .tender-file {
        padding: 2.5rem;
        flex-direction: column;
    }
    .tender-file_img {
        min-width: 100%;
        max-width: 100%;
        transform: translate(0, -8rem);
    }
    .tender-file_info h3 {
        margin-top: -50%;
    }
    .tender-file_title h3 {
        display: none;
    }
    .title-text h1 {
        font-size: 2rem;
    }
    #footer {
        padding: 30px 0 20px;
    }
    .biografiya h1,
    p {
        font-size: 16px;
    }
    .title-text {
        padding-bottom: 30px;
    }
    .social-links .fa {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 576px) {
    .prev,
    .next {
        font-size: 25px;
    }
    .dot {
        width: 12px;
        height: 12px;
    }
    .txt h1 {
        font-size: 20px;
    }
    .testimonial-col .user .counter {
        font-size: 25px;
    }
    .testimonial-col .user i {
        font-size: 35px;
    }
    .testimonial-row .testimonial-col {
        min-width: auto;
    }
    .title-text h1 {
        font-size: 1rem;
    }
    .title-text {
        padding-bottom: 20px;
    }
    .social-links .fa {
        margin-top: 20px;
    }
}